@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1d2123;
  width: auto;
  height: auto;
}

body {
  background-color: #1d2123;
  color: white;
  font-family: Quicksand;
}

body > div {
  background-color: #1d2123;
  color: white;
}

.background-image {
  background-image: url("../app/Media/Vector.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.filll > path {
  fill: #facd66;
}

.detailRev {
  position: relative;
}

.hov {
  transition: all 0.3s ease-in-out;
}

.hov:hover > img {
  scale: 1.25;
}

.hov:hover > .detailRev {
  position: relative;
  top: -50px;
}

@media screen and (max-width: 1024px) {
  .m-flex-col {
    flex-direction: column;
  }

  .m-mg-top {
    margin-top: 30px;
  }
}

@media screen and (max-width: 640px) {
  /* .med-max-sm-d {
    display: none;
  } */

  .med-max-sm-mb {
    margin-bottom: 15px;
  }
}
