@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d2123;
  color: white;
  font-family: Quicksand;
}

.background-image {
  background-image: url("../app/Media/Vector.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
